In [20]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder

In [2]:
#Data load

df = pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv")

In [5]:
#Check The Rows And Columns of the Datasets.

print(f"The Total Rows of the Datasets is {df.shape[0]} and the total Columns is {df.shape[1]}.\n")

The Total Rows of the Datasets is 4340 and the total Columns is 8.

In [7]:
#Show some data of the Datasets

print("Lets see some datasets valus..........\n")
df.head()

Lets see some datasets valus..........

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [8]:
#Cleaning Data
print("Lets Clean the datasets.......\n")

print("Lets see there is any Null Values are not......\n")

df.isnull().sum()

Lets Clean the datasets.......

Lets see there is any Null Values are not......

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [12]:
#Lets use some encoding technique to encode the Labeled data from the datasets.

print(df['fuel'].unique())
print(df['seller_type'].unique())
print(df['transmission'].unique())
print(df['owner'].unique())

['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric']
['Individual' 'Dealer' 'Trustmark Dealer']
['Manual' 'Automatic']
['First Owner' 'Second Owner' 'Fourth & Above Owner' 'Third Owner'
 'Test Drive Car']

In [21]:
#Lets use the Label Encoding for convert the transmission into the datasets.

lb = LabelEncoder()
temp = ['fuel','seller_type','transmission','owner']

for i in temp:
    df[i] = lb.fit_transform(df[i])
df.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,4,1,1,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,4,1,1,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,1,1,1,0
3,Datsun RediGO T Option,2017,250000,46000,4,1,1,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,1,1,1,2
5,Maruti Alto LX BSIII,2007,140000,125000,4,1,1,0
6,Hyundai Xcent 1.2 Kappa S,2016,550000,25000,4,1,1,0
7,Tata Indigo Grand Petrol,2014,240000,60000,4,1,1,2
8,Hyundai Creta 1.6 VTVT S,2015,850000,25000,4,1,1,0
9,Maruti Celerio Green VXI,2017,365000,78000,0,1,1,0

In [ ]:
#Lets Remove the long name of the car and make its small and delete other things and then

In [ ]:
# #Lets Encode the Other Requered Fields using of the  Technique.

# temp = ['fuel','seller_type','owner']

# ord = OrdinalEncoder()

# order_data_fuel= ['Petrol','Diesel','CNG','LPG','Electric']
# order_data_seller_type= ['Individual' , 'Dealer' , 'Trustmark Dealer']
# order_data_owner= ['First Owner','Second Owner','Fourth & Above Owner','Third Owner','Test Drive Car']